:host {
  flex-grow: 1;
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content iframe {
  flex-grow: 1;
}
.content #map {
  flex-grow: 1;
}

.close-button {
  position: absolute;
  right: 0;
}
