:host {
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 100%;
}
.layout {
    flex-grow: 1;
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
